.display-4, .lead {
    text-align: center;
}

#current-day {
    font-weight: bold;
}

.jumbotron {
    background-color: rgb(187, 161, 211);
    border-bottom: rgb(98, 39, 153) solid 15px;
    margin-bottom: 2%;
}

.col {
    text-align: center;
}

.hours {
    border-bottom: 0.5px dotted black;
    padding-top: 5px;
}

.green {
    background-color: rgb(124, 250, 124);
}

.gray {
    background-color: rgb(161, 159, 159);
}

.red {
    background-color: rgb(238, 99, 99);
}

.white {
    background-color: white;
}

.btn {
    background-color: rgb(123, 167, 182);
    color: white;
    font-weight: bold;
    margin: 0.3%;
}


