.display-4, .lead {
    text-align: center;
}

#current-day {
    font-weight: bold;
}

.jumbotron {
    background-color: rgb(187, 161, 211);
    border-bottom: rgb(98, 39, 153) solid 15px;
    margin-bottom: 2%;
}

.col {
    text-align: center;
}

.green {
    background-color: green;
}

.gray {
    background-color: rgb(161, 159, 159);
}

.red {
    background-color: red;
}

.white {
    background-color: white;
}


